# Ignore the source _build directory. The files that Sphinx generates here
# are copied and pasted into /docs/, which is what GitHub reads
docsrc/_build/

# Ignore all latex files except .tex and .svg
/latex/*
!latex/*.tex
!latex/*.svg
